﻿ .gv th
        {
            color: white;
            text-align: left;
            background-color: #006600;
            border-color: Navy;
            vertical-align: middle;
            background: navy;
            font-weight: bold;
            padding: 5px 10px;
            font-size: 0.9em;
        }
        /* click-to-sort hyperlinks */
        .gv th a
        {
            color: White;
            font-weight: bold;
            text-decoration: none;
        }
        .gv th a:hover
        {
            color: #FFFF77;
        }
        
        .gv td
        {
            padding: 5px 10px;
            text-align: left;
            vertical-align: top;
            border: 1px solid #000;
            font-size: 1em;
        }
        /* links within cells (edit/delete) */
        .gv td a
        {
            color: #F00;
            font-weight: bold;
            text-decoration: underline;
        }
        .gv td a:hover
        {
            color: #F00;
            text-decoration: none;
        }
        
        
         td { 
            border: 1px solid black; 
          }
          
          table { 
            border: thick; width: 50%; 
          }
          
          #testTable { 
            width : 500px;
            margin-left: auto; 
            margin-right: auto; 
          }
          
          #tablePagination { 
            background-color: #DCDCDC; 
            font-size: 0.8em; 
            padding: 0px 5px; 
            height: 40px;
            width:467px;
            border:1px Solid black;
            
          }
          
          
          #tablePagination_currPage
          {
              width:20px;
          }
          #tablePagination_paginater { 
            margin-left: auto; 
            margin-right: auto;
            
          }
          
          #tablePagination img { 
            padding: 0px 2px; 
          }
          
          #tablePagination_perPage { 
            float: left; 
          
          }
          
          #tablePagination_paginater { 
            float: right; 
          }